#header {
  padding: 0;
  margin: 0;
  min-height: 10vh;
  border-bottom: 0.1rem solid var(--border-color);
  background-color: var(--dark-color);
  align-items: baseline;
  position: sticky;
  top: 0;
  transition: all 0.1s linear;
  z-index: 10;
}

.navbar {
  width: 100%;
  height: 7rem;
  align-items: center;

  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 6fr 4fr;
  grid-template-rows: 1fr;
  gap: 2rem;
  grid-template-areas: "navbar__logo navbar__nav navbar__search ";
}

.navbar__logo {
  grid-area: navbar__logo;
}
.navbar__nav {
  grid-area: navbar__nav;
}
.navbar__search {
  grid-area: navbar__search;
}

/* ------------------------------ Logo ------------------------------ */

.navbar__logo img {
  cursor: pointer;
}

/* ------------------------------ Nav ------------------------------ */

.nav__item {
  padding: 0 0.5rem;
}

.nav__subitem {
  background-color: var(--light-color);
  border-bottom: 0.1rem solid var(--border-color2);
}

.nav__item,
.nav__subitem {
  line-height: 250%;
  position: relative;
  z-index: 1;
}

.nav__subitem:last-child {
  border-bottom: none;
}

.nav__subitem .nav__link {
  color: var(--dark-color);
}

.nav__link {
  padding: 1rem;
  font-size: var(--font-size-sm);
  font-weight: 700;
}

.nav__submenu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 145%;
  left: 0;
  background-color: var(--light-color);
  width: 25rem;
  transition: all 0.3s ease-in-out;
}

.nav__item:hover > .nav__submenu,
.nav__subitem:hover > .nav__submenu {
  visibility: visible;
  opacity: 1;
  top: 123%;
}

.nav__subitem .nav__link {
  transition: all 0.2s ease-in-out;
}

.nav__subitem .nav__link:hover {
  color: var(--accent-color);
  transform: translateX(1rem);
}

.nav__subitem .fas {
  float: right;
  margin-left: 1rem;
  padding-top: 2.3rem;
}

.nav__submenu2 {
  display: none;
  left: 120%;
  transition: all 0.2s ease-in-out;
}

.nav__subitem:hover > .nav__submenu2 {
  display: block;
  position: absolute;
  top: 0;
  left: 101%;
  width: 25rem;
}
.hyphen {
  opacity: 0;
  color: var(--accent-color);
}
.nav__submenu .nav__link:hover .hyphen {
  opacity: 1;
}

.nav__submenu .active {
  color: var(--accent-color);
  transform: translateX(1rem);
  opacity: 1;
}

/* ------------------------------ Search ------------------------------ */
.navbar__search {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px 0px;
  grid-template-areas: "navbar__search-box navbar__wallet";
}

.navbar__search-box {
  grid-area: navbar__search-box;
}
.navbar__wallet {
  grid-area: navbar__wallet;
}

.navbar__search-box {
  width: 30rem;
  border-radius: var(--border-radius-2xl);
  background-color: rgb(52, 52, 68, 0.6);
  height: 70%;
  padding: 1.5rem 2rem;
  margin-top: 1rem;
}

.navbar__search-box input {
  color: var(--light-color);
  background: transparent;
  border: none;
  outline: none;
}

.search-text {
  font-size: var(--font-size-sm);
  font-family: inherit;
}

.search-btn .icon {
  padding: 0 1.5rem;
  color: var(--border-color2);
  cursor: pointer;
}

.wallet__btn {
  font-weight: 700;
  padding: 1.5rem 2.5rem;
  margin-top: 0.5rem;
}
/* ------------------------------ Mode ------------------------------ */
/* .mode {
  width: 4rem;
  height: 4rem;
  border-radius: var(--border-radius-md);
  border: none;
  background-color: rgb(52, 52, 68, 0.6);
}

.light-mode {
  margin: 0 1.5rem;
} */
