@media screen and (max-width: 1314px) {
  .navbar__nav a.nav__link {
    display: none;
  }

  .navbar__nav a.icon {
    float: right;
    display: block;
  }

  .navbar__nav.responsive {
    position: relative;
  }

  .navbar__nav.responsive .icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  .navbar__nav.responsive a.nav__link {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 1363px) {
  .navbar__search-box {
    width: 20rem;
    padding: 0.8rem 3rem;
    padding-left: 4.5rem;
  }

  .search-text {
    font-size: var(--font-size-xs);
    font-family: inherit;
  }

  .search-btn .icon {
    font-size: var(--font-size-xs2);
  }

  .wallet__btn {
    font-size: var(--font-size-xs);
    padding: 1rem 0.5rem;
  }
}

@media screen and (max-width: 1530px) {
  .navbar__nav a.nav__link {
    padding: 0.2rem;
  }

  .wallet__btn {
    font-size: var(--font-size-xs);
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 1673px) {
  .navbar__nav a.nav__link {
    font-size: var(--font-size-xs2);
  }

  .wallet__btn {
    font-size: var(--font-size-xs);
    padding: 1rem 2rem;
  }

  .navbar__search-box {
    width: 25rem;
    padding: 1rem 2rem;
    margin-top: 1rem;
  }

  .search-text {
    font-size: var(--font-size-xs2);
    font-family: inherit;
  }
}

@media screen and (max-width: 1795px) {
  .wallet__btn {
    padding: 1.5rem;
  }
}
