#wrapper {
  background: url("../../images/07_log-in/bg.jpg");
  padding-bottom: 2rem;
}

#header {
  background-color: transparent;
}

.light__mode #header {
  background: transparent;
}

#home-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.login__title {
  margin-bottom: 2rem;
  font-size: var(--font-size-lg);
  color: var(--light-color);
}

.login__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: var(--light-color);
}

.login__content a {
  margin: 0 2rem;
  font-size: var(--font-size-sm);
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: var(--border-color);
  transition: all 0.3s ease-in-out;
}

.login__content a:hover {
  color: var(--light-color);
}

.login__content .active {
  color: var(--light-color);
}

/*------------------------------------- log in button ----------------------------------*/
#login {
  background-color: var(--dark-color);
  text-align: center;
  padding: 10rem 5rem;
  /* margin-top: 10rem; */
  height: 70vh;
}

.light__mode #login {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.login__wrapper {
  width: 40%;
  margin: 0 auto;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  background-color: transparent;
  color: var(--light-color);
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  border: none;
  border-bottom: 0.1rem solid var(--border-color);
  outline: none;
}

.light__mode .user-box input {
  color: var(--dark-color);
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  font-family: inherit;
  font-size: var(--font-size-xs2);
  color: var(--light-color);
  pointer-events: none; /*so we can click here and type something*/
  letter-spacing: 0.1rem;
  transition: all 0.5s ease-in-out;
  display: inline-block;
  margin: 2rem 0;
}

.light__mode .user-box label {
  color: var(--dark-color);
}

.user-box input:focus ~ label,
input:valid ~ label {
  top: -3rem; /* move up */
  left: 0;
  color: var(--accent-color);
  font-size: var(--font-size-xs);
}

form #submit {
  position: relative;
  display: block;
  padding: 1rem 2rem;
  color: var(--light-color);
  font-size: var(--font-size-sm);
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 2rem 0;
  height: 5rem;
  width: 100%;
  border-radius: var(--border-radius-2xl);
  background: linear-gradient(
    45deg,
    var(--primary-color) 0%,
    var(--accent-color) 81%
  );
  border: none;
  transition: all 1s ease-in-out;
}

form #submit:hover {
  background: linear-gradient(
    -45deg,
    var(--primary-color) 0%,
    var(--accent-color) 81%
  );
}

.login__wrapper p {
  margin: 3rem 0;
  font-family: inherit;
  font-size: var(--font-size-sm);
}

.login__wrapper .primary-color {
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.login__wrapper .primary-color:hover {
  color: var(--accent-color);
}

/* --------------------------- OR---------------------------------*/
.or {
  position: relative;
  margin: 4rem 0;
}

.or::before,
.or::after {
  content: "";
  display: block;
  width: 30rem;
  height: 0.1rem;
  background: var(--border-color);
  top: 50%;
  position: absolute;
}

.or::before {
  left: 0;
}

.or::after {
  right: 0;
}

/* --------------------------- Social Media ---------------------------------*/
.login__social {
  font-size: var(--font-size-md);
  margin: 2rem 0;
}

.login__social i {
  width: 4rem;
  border-radius: var(--border-radius-sm);
  background-color: var(--border-color);
  padding: 1rem;
  margin: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.light__mode .login__social i {
  background-color: var(--light-color);
  box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(128, 128, 128, 0.097);
  -webkit-box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(128, 128, 128, 0.097);
  color: var(--primary-color);
}

.login__social i:hover {
  background-color: var(--accent-color);
}

.light__mode .login__social i:hover {
  color: var(--accent-color);
  background-color: var(--light-color);
  box-shadow: 0.5rem 0.5rem 1rem 0.5rem #c8c6dd79;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem 0.5rem #c8c6dd79;
}

/* --------------------------- Media Queries---------------------------------*/
@media screen and (max-width: 1899px) and (min-width: 1600px) {
  .or::before,
  .or::after {
    width: 25rem;
  }
}

@media screen and (max-width: 1599px) and (min-width: 1350px) {
  .or::before,
  .or::after {
    width: 20rem;
  }
}

@media screen and (max-width: 1349px) and (min-width: 1115px) {
  .or::before,
  .or::after {
    width: 15rem;
  }
}

@media screen and (max-width: 1114px) and (min-width: 1000px) {
  .or::before,
  .or::after {
    width: 9rem;
  }
}
