#top-seller {
  margin-bottom: 10rem;
}

.sellers__wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 5rem;
  grid-template-areas:
    "sellers__header"
    "sellers__about";
}

/* ------------------------------ Sellers Header ------------------------------ */
.sellers__header {
  grid-area: sellers__header;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

/* .sellers__header h3 {
  font-size: var(--font-size-xl);
} */

.light__mode .seller__info h4 {
  color: var(--dark-color);
}

.light__mode .seller__info h4:hover {
  color: var(--accent-color);
}

.sellers__icons i {
  /* width: 4rem;
  height: 4rem; */
  border-radius: 50%;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  color: var(--light-color);
  margin: 0.3rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.light__mode .sellers__icons i {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.sellers__icons i:hover {
  background-color: var(--light-color);
  color: var(--accent-color);
  border-color: var(--light-color);
}

.light__mode .sellers__icons i:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

/* ------------------------------ Sellers About ------------------------------ */
.sellers__about {
  grid-area: sellers__about;

  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: Repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: 1fr;
  gap: 0 5rem;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.seller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  cursor: grab;
  transition: all 0.3s ease-in-out;

  margin: 0 1rem;
}

.seller:hover {
  transform: translateY(-0.5rem);
}

.seller__avatar {
  position: relative;
  margin-top: 3rem;
}

.seller__avatar img {
  border-radius: var(--border-radius-4xl);
}

.seller__avatar i {
  position: absolute;
  top: 9rem;
  right: 0rem;
  font-size: var(--font-size-lg);
  color: var(--accent-color);
  background-color: var(--light-color);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.seller__name {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--light-color);
  transition: all 0.3s ease-in-out;
}

.seller__name:hover {
  color: var(--accent-color);
}

.seller__info h4 {
  font-size: var(--font-size-xs2);
  font-weight: 500;
}

.seller__info h5 {
  font-size: var(--font-size-xs);
  opacity: 0.7;
}
