.content__place-bid {
  width: 100%;
  background-color: var(--dark-color);
  color: var(----light-color);
  font-size: var(--font-size-xs2);
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: var(--border-radius-3xl);
  box-shadow: inset 0 0 0 0.2rem var(--light-color);
  padding: 1.5rem 3rem;
  margin: 3rem 0;
  transition: all 0.3s ease-in-out;
}

.content__place-bid:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}

/* ------------- Light Mode ----------------- */
.light__mode .content__place-bid {
  background-color: var(--primary-color7);
  box-shadow: inset 0 0 0 0.2rem var(--primary-color7);
  color: var(--accent-color);
  transition: all 0.3s ease-in-out;
}

.light__mode .content__place-bid:hover {
  background-color: var(--accent-color);
  box-shadow: inset 0 0 0 0.2rem var(--accent-color);
  color: var(--light-color);
}
